# personal info which should not be put on GitHub
# e.g. email, company info, username ...

# NOTE show all _exported_ environment variables
# $ printenv
# NOTE show all _declared_ globale variables
# $ set

EMAILS=('foo@bar.com' 'baz@exapmle.com')
GH_LOGIN=mygithubaccount
GH_TOKEN=mygithubtoken
LOGIN='My Name'

# you can define custom function here

foo() {
    echo foo
}

